.login {
  display: flex;
  align-items: center;
  background-size: auto;
  width: 100%;
  margin-top: 6rem;
  }

.botao {
  margin-top: 2rem;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .login {
    display: flex;
    flex-direction: column;
  }
}