.card {
  width: 100%;
  height: 100%;
  background-color: #D65D1A;
  opacity: 80%;
  box-shadow: 1px 2px 0px #000000;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .txtProduto {
    margin: 0 0 0.2rem 0;
    flex: 1;
  }

  .imgProduto {
    display:flex;
    flex-wrap: wrap;
    width: 7rem;
  }