.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFF;
  padding-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 2.5rem solid #92B86D;
  border-top: 3rem solid #92B86D;
  border-bottom: 3rem solid #92B86D;
  border-radius: 15px;
}

.iconFechar {
  position: absolute;
  top: -2rem;
  right: -1.5rem;
}

.inputFormModal {
  width: 100%;
}

.formModal h2 {
  padding-left: 10%;
  margin-bottom: 0;
}

.formModalBotao {
  display: flex;
  margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
  .iconFechar {
    width: 18px;
  }
}


@media screen and (min-width: 800px) {
  .modal {
    width: 500px;
    border: 1.8rem solid #92B86D;
    border-top: 2.2rem solid #92B86D;
    border-bottom: 2.2rem solid #92B86D;
  }

  .iconFechar {
    width: 1rem;
    top: -1.4rem;
    right: -1rem;

  }

  .formModal h2 {
    padding-left: 18%;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .formModalBotao {
    width: 40%;
    padding-left: 28%;
  }

}