.fundoResumo {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #435C3D;
  width: 60%;
  border-radius: 15px;
  box-shadow: 0px 3px 3px #000000;
}

.textoResumo {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 1.2rem;
}

.fundoBranco {
  background-color: #FFF;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
}

/* .qtdValor {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  margin-right: 3.5rem;
} */

/* .itemQtdValor {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
} */

.txtItens {
  display: grid;
  grid-template-columns: 2.5fr 0.9fr 1fr; /* Define 3 colunas (item, qtd e valor) */
}

.txtSpan {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.6fr 0fr; /* Define as 4 colunas no resumo (item, qtd, valor e a imagem do lixo)*/
  font-size: 1.2rem;
}


.totalPedido {
  display: flex;
  justify-content: space-between;
}

.totalPedido p {
  font-size: 1.2rem;
  font-weight: bold;
}

.imgLixo {
  width: 25px; 
  height: 25px; 
}
