.caixaFundo {
  margin-top: 2rem;
  background-color: #435C3D;
  width: 95%;
  padding: 3rem 0;
  border-radius: 15px;
  box-shadow: 0px 3px 3px #000000;
}

@media screen and (max-width: 900px) {
  .caixaFundo {
    margin: 2rem auto;
  }
}

