.caixaFundo {
  margin: 6rem;
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  background-color: #435C3D;
  width: 50rem;
  height: 26rem;
  border-radius: 15px;
  box-shadow: 0px 3px 3px #000000;
}