.txtItens {
  margin-left: 2rem;
}

.atendimento {
  display: flex;
  align-items: center;
  width: 90%;
}

.atendimentoRotas {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}
.pedido {
  display: flex;
  align-items: center;
  background-size: auto;
  width: 100%;
  margin-top: 8rem;
  }

.botao {
  margin-top: 2rem;
  display: flex;
}

.nomeCliente {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 1.2rem;
}

.fundoBranco {
  background-color: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}

.qtdValor {
  display: grid;
  grid-template-columns: 31rem 2.5rem;
  font-weight: bold;
}

.pedidosFinalizados {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.pedidosFinalizados button {
  width: 20%;
  min-width: 10rem;
  margin: 0 0 0 auto;
  background-color: #92B86D;
  color: #5C3B14;
}

.produtos {
  display: grid;
  grid-template-columns: 31rem 2.5rem;
  grid-gap: 1rem;
  font-size: larger;
  padding: 0.2rem 0;
}

@media only screen and (max-width: 767px) {
  .atendimento {
    flex-direction: column;
    width: 80%;
    padding-left: 10%;
  }
  .pedido {
    flex-direction: column;
    margin-top: 0;
    width: 80%;
    padding-left: 10%;
  }

  .qtdValor span {
    display: none;;
  }
  .pedidosFinalizados {
    display: flex;
    flex-wrap: wrap;
  }

  .produtos {
    display: flex;
    gap: 5rem;
    justify-content: space-between; 
  }
  .pedidosFinalizados button {
    min-height: 5rem;
    min-width: 10rem;
    margin-top: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .atendimento {
    flex-direction: column;
    width: 55%;
    padding-left: 22%;
  }
  .pedido {
    flex-direction: column; 
    margin-top: 0;
    width: 55%;
    padding-left: 22%;
  }

  .botao {
    width: 70%;
    padding-left: 15%;;
  }
}

@media (max-width: 1181px) and (orientation: landscape) {
  .atendimento {
    width:85%;
    padding-left: 8%;
    margin-top: 8rem;
  }

  .pedido {
    width: 85%;
    padding-left: 8%;
    margin-top: 8rem;
  }

  .botao {
    width: 65%;
    padding-left: 18%;
  }
}


@media only screen and (min-width: 1200px) {
  .atendimento {
    width: 80%;
    margin-top: 5rem;
    margin-left: 8rem;

  }
  .pedido {
    gap: 5px;
    width: 70%;
    padding-left: 10rem;
    margin-top: 5rem;
  }

  .botao {
    width: 70%;
    padding-left: 15%;
  }
}

@media only screen and (min-width: 2000px) {
  .atendimento {
    width: 40%;
    margin-top: 10rem;
    padding-left: 25%;
  }
  .pedido {
    width: 40%;
    margin-top: 10rem;
    padding-left: 30%;
  }

  .botao {
    width: 60%;
    padding-left: 20%;
  }
}




