body {
  padding: 0;
  background-color: #1C2E26;
}

.logo {
  display: flex;
  width: 100%;
}

/* .logo img {

} */

@media only screen and (max-width: 767px) {
  .logo img{
    max-width: 20rem;
  }
}
