body {
  padding: 0;
  background-color: #1C2E26;
}

.logo {
  display: flex;
  
}

@media only screen and (max-width:500px) {
   .logo img{
    max-width: 22rem;
  }
}

@media only screen and (min-width:501px) and (max-width:900px) {
  .logo img{
   max-width: 25rem;
 }
}

@media only screen and (min-width: 1024px) {
  .logo img {
    max-width: 25rem;
  }
}