.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #92B86D;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 15px;
}

.modal-fundo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-conteudo {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
}

.botao-ok {
  width: 40%;
  height: 4rem;
  background-color: #D65D1A;
  opacity: 80%;
  box-shadow: 1px 2px 0px #000000;
  border-radius: 10px;
  margin: auto;
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.botao-ok:hover {
  background-color: #92B86D;
}

.textoModal {
  font-weight: bold;
  font-size: 1.5rem;
  color: #435C3D;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .modal {
    width: 60%;
  }

  .modal-conteudo {
    padding: 0.9rem;
    text-align: center;
  }

  .botao-ok {
    width: 40%;
    height: 2rem;
    font-size: 1.2rem;
  }

  .textoModal {
    font-size: 1.3rem;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    width: 55%;
  }

  .modal-conteudo {
    padding: 1rem;
    text-align: center;
  }

  .botao-ok {
    width: 30%;
    height: 3rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1444px) {
  .modal {
    width: 30%;
}

.botao-ok {
  width: 30%;
  height: 3rem;
  font-size: 1.2rem;
}
}

@media only screen and (min-width: 1800px) {
  .modal {
    width: 20%;
}
}