.tags button {
  width: 14rem;
}

.tags {
  margin-left: 2rem;
}

.fundoBranco {
  background-color: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}

.titulosLista {
  display: grid;
  grid-template-columns: 21% 20% 43% 8%;
  grid-gap: 2%;
  font-weight: bold;
  font-size: larger;
  padding: 1rem 0;
}

.listaItens {
  display: grid;
  grid-template-columns: 21% 20% 43% 8%;
  grid-gap: 2%;
  font-size: larger;
  padding: 0.5rem 0;
}

.icones {
  display: flex;
  width: 100%;
}

.icone {
  width: 1.8rem;
  height: 1.8rem;
}

.icone + .icone {
  margin-left: 20%;
}

.listaDados button {
  display: flex;
  width: 5%;
  min-width: 12rem;
  align-self: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .titulosLista {
    grid-template-columns: 30% 70%;
  }

  .listaItens {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30% 70%;
    padding: 0.5rem 0 1rem;
  }

  .tituloEmail {
    display: none;
  }

  .icones {
    grid-column: 1;
    grid-row: 2;
  }

  .email {
    grid-column: 2;
    grid-row: 2;
  }
}

 