.cabecalho {
  display:flex;
  align-items: flex-start;
  gap: 35%;
}

.logo {
  width: 3rem;
}

.caixaProdutos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 0.6rem;
  margin: 0 1.2rem;
}

.txtItens {
  display:flex;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 2%;
}

.caixasPedido {
  display: flex;
  justify-content: center;
 }

@media screen and (max-width: 900px) {
  .cabecalho {
    gap: 13%;
  }

  .caixasPedido {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cabecalho {
    gap: 30%;
  }
}

@media screen and (min-width: 1444px) {
  .txtItens{
  display: flex;
  justify-content: center;
  margin-right: 1100px;
  }

  .cabecalho {
    gap: 45%;
  }
}