.logo {
  width: 3rem;
}

.txtItens {
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 1rem;
}

.caixasPedido {
  display: flex;
}

.tagProdutos {
  width: 80px;
}

Tag texto {
  align-items: center;
}